<!DOCTYPE html>
<html>
<head>
	<title>New Dish</title>
	
  <!-- fonts  -->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <!-- reset -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">

  <!-- styles -->
  <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/blitzer/jquery-ui.css">
  DOCTYPE
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
  
</head>

<body>

<main>
  <header>
    
  </header>
  <form action="/dish" method="post">
    <fieldset name="edit-dish" class="" >
      <h1>Edit a dish</h1>
      <p>
        <label for="dishName" required>Dish Name</label>
        <input placeholder="Dish Name" type="text" name="dishName" id="dishName" required/>
      </p>
      <p> 
        <label for="content" required>Dish Content</label>
        <input placeholder="content" type="text" name="content" id="content" required/>
      </p>
      <p>
        <button type='submit'>Submit</button>
      </p>
    </fieldset>
  </form>
  
  <footer>
    <!-- <img src="images/logo.png" class="logo" /> -->
    <span class="login">Already have an account? <a href="/login">Log in</span>
  </footer>
</main>

</body>
</html>