<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    
    <!-- fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- reset -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">

    <!-- styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cerulean/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/blitzer/jquery-ui.css">
    <style>
      body 		{ padding-top:80px; }
			.alert {
				display: none;
			}
			.panel-heading {
				font-size: larger;
			}
			.col-md-6{
				padding-left: 5px;
				padding-right: 5px;
			}
			.form-group label {
				float: left;
				text-align: left;
				font-weight: normal;
			}
			.form-group select {
				display: inline-block;
				width: auto;
				vertical-align: middle;
			}
    </style>

    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script
      src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
      integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
      crossorigin="anonymous"></script>

    <script>

      
		function RenderUserData(userId) {
			$.ajax({
				url: `/user/${userId}`,
				dataType:'JSON',
				success:function(data){
					console.log(`First Name: ${data.name.firstName}`);
					console.log(`Location: ${data.location_id}`);
					let findLocation = data.location_id;
					let userName = data.name.firstName; 
					$('#welcome').prepend(`								
						<form class="form-inline">
							<div class="form-group">
								<label for="locationBox">Welcome, ${userName}, your are looking at the menu for ...
									<select class="form-control" name="location" id="location" value="">
										<option selected value="base">Please Select</option>
									</select>
								</label>								
							</div>
						</form>					
					`);
					renderList();
					renderLocationData(findLocation);
				},
				error:function(){      }
			});
		};

		function renderLocationData(locationId) {
			$('.location-name').empty();
			$('.dish-result').empty();
			$.ajax({
				url: `/menu/dish?location=${locationId}`,
				dataType:'JSON',
				success:function(data){
					let formattedTextElement = '';
					let resultElement = '';
					$.each(data, function(key, val){
						console.log(key); 
						if (key === 0) $('.location-name').prepend(`<h1><span class="fa fa-list"></span> Available dishes for ${val.location[0].locationName}</h1>`);  
						$("#location").val(`${val.location[0].locationName}`);
						resultElement += `
							<div class="col-md-6">
								<div class="panel panel-default dish-panel">
									<div class="panel-heading">
										${val.dishes[0].dishName}
									</div>
									<div class="panel-body"> 
										${val.dishes[0].dishDescription}
									</div>
									<div class="panel-footer">
										<button class="edit-dish-button btn btn-primary" data-id="${val.dishes[0]._id}">Edit dish description</button>
										
										<div class="edit-dish-input panel panel-info dish-panel" style="display: none">
											<div class="panel-heading">
												Edit Dish Description
											</div>
											<div class="panel-body"> 
												Enter Text Here
											</div>
											<div class="panel-footer">
												<button class="submit-dish btn btn-info">Submit dish description</button>
											</div>
										</div>			
									</div>
								</div>			
							</div>
						`; 	
					})
					$('.dish-result').prepend(`${resultElement}`); 
				},
				error:function(){      }
			});

		}
		
    function renderList() {
      // get a reference to the select element
      $select = $('#location');
			$select.empty();
      // request the JSON data and parse into the select element
      $.ajax({
        url: '/location/select',
        dataType:'JSON',
        success:function(data){
          // iterate over the data and append a select option
          $.each(data.locations, function(key, val){
            console.log(val);
            $select.append('<option data-id="' + val._id + '" id="' + val._id + '">' + val.locationName + '</option>');
          })
        },
        error:function(){
          //if there is an error append a 'none available' option
          $select.html('<option id="-1">none available</option>');
        }
      });
		}
					
    $( function() {
      var getUrlParameter = function getUrlParameter(sParam) {
          var sPageURL = decodeURIComponent(window.location.search.substring(1)),
              sURLVariables = sPageURL.split('&'),
              sParameterName,
              i;

          for (i = 0; i < sURLVariables.length; i++) {
              sParameterName = sURLVariables[i].split('=');

              if (sParameterName[0] === sParam) {
                  return sParameterName[1] === undefined ? true : sParameterName[1];
              }
          }
      };   
      var findUser = getUrlParameter('id');
      console.log(findUser); 

			// call function to render the page
			RenderUserData(findUser);

			// Re-render page when location is changed
			$('body').on('change','select',function (event) {
				console.log($(this).val());
				$.ajax({
					url: `/location/Name/${$(this).val()}`,
					dataType:'JSON',
					success:function(data){
						console.log(`Location: ${data._id}`);
						renderList();
						renderLocationData(data._id);
					},
					error:function(){      }
				});
			});			

			$('body').on('click','.edit-dish-button',function (event) {
					event.preventDefault(); // do not submit yet
					var idToPass = $(this).data('id');
					$(this).toggle();
					$(this).siblings(".edit-dish-input").toggle();
			});

    } ); 
    </script>
  </head>

  <body>
    <main>
      <div class="container">
				<div class="panel panel-default">
					<div class="panel-heading" id="welcome">
					</div>
    			<div class="panel-body">      
						<div class="alert alert-success">
							<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
								<strong>Successfully submitted!</strong> The form is valid.
						</div>
						<header class="location-name"></header>

						<div class="dish-result-container">
							<div class="dish-result">	
							</div>
						</div>
						<div class='error'></div>
					</div>
					<div class="panel-footer">
              <div class="form-group">
                <a href="#">Add dishes</a> | <a href="#">Add Location</a> | <a href="#">Add Dish to Menu</a>
              </div>
					</div>
				</div>
      </div>
    </main>
  </body>
</html>