<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    
    <!-- fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- reset -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">

    <!-- styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cerulean/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/blitzer/jquery-ui.css">
    <style>
      body 		{ padding-top:80px; }
			.alert {
				display: none;
			}
			.panel-heading {
				font-size: larger;
			}
			.col-md-6{
				padding-left: 5px;
				padding-right: 5px;
			}
			.form-group label {
				float: left;
				text-align: left;
				font-weight: normal;
			}
			.form-group select {
				display: inline-block;
				width: auto;
				vertical-align: middle;
			}
			.modal-body .form-horizontal .col-sm-2,
			.modal-body .form-horizontal .col-sm-10 {
					width: 100%
			}

			.modal-body .form-horizontal .control-label {
					text-align: left;
			}
			.modal-body .form-horizontal .col-sm-offset-2 {
					margin-left: 15px;
			}
    </style>

    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script
      src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
      integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
      crossorigin="anonymous"></script>
		<script 
			src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
			integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
			crossorigin="anonymous"></script>

    <script>
      
		function RenderUserData(userId) {
			$.ajax({
				url: `/user/${userId}`,
				dataType:'JSON',
				success:function(data){
					console.log(`First Name: ${data.name.firstName}`);
					console.log(`Location: ${data.location_id}`);
					let findLocation = data.location_id;
					let userName = data.name.firstName; 
					$('#welcome').empty();
					$('#welcome').prepend(`								
						<form class="form-inline">
							<div class="form-group">
								<label for="locationBox">Welcome, ${userName}, your are looking at the menu for ...
									<select class="form-control" name="location" id="location" value="">
										<option selected value="base">Please Select</option>
									</select>
								</label>								
							</div>
						</form>					
					`);
					clearAlerts();
					renderList();
					filterOtherLocation(findLocation);
					renderLocationData(findLocation);
				},
				error:function(){      }
			});
		};

		function clearAlerts() {
			$('#no-menu').toggle(false);
			$('#new-item-alert').toggle(false);
			$('#alert-location').toggle(false);
		}

		function renderLocationData(locationId) {
			$('.location-name').empty();
			$('.dish-result').empty();
			$.ajax({
				url: `/location/Filter/${locationId}`,
				dataType:'JSON',
				success:function(data){
					console.log(`Location for location box: ${data.locationName}`);
					$('.location-name').prepend(`<h1><span class="fa fa-list"></span> Available dishes for ${data.locationName}</h1>`);  
					$("#location").val(`${data.locationName}`);
				},
				error:function(){      }
			});
			$.ajax({
				url: `/menu/dish?location=${locationId}`,
				dataType:'JSON',
				success:function(data){
					console.log(data.length);
					if (data.length === 0 ) {
						$("#no-menu").empty();
						$("#no-menu").prepend(`<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							<p>There are no menus assigned to this location yet. To create a new menu, click "Add Dishes to Menu" and compose a new menu from the available dishes.</p>`).show();
					};
					let formattedTextElement = '';
					let resultElement = '';
					$.each(data, function(key, val){
						console.log(key); 
						console.log(val); 
						console.log(`Length of dishes ${val.dishes.length}`); 
						for ( i = 0; i < val.dishes.length; i++) {
							console.log("Dishes: ",val.dishes[i].dishName);
							resultElement += `
								<div class="col-md-6">
									<div class="panel panel-default dish-panel">
										<div class="panel-heading">
											${val.dishes[i].dishName}
										</div>
										<div class="panel-body"> 
											${val.dishes[i].dishDescription}
										</div>
										<div class="panel-footer">
											<button class="edit-dish-button btn btn-primary" data-id="${val.dishes[i]._id}">Edit dish description</button>
											
											<div class="edit-dish-input panel panel-info dish-panel" style="display: none">
												<div class="panel-heading">
													Edit Dish Description
												</div>
												<div class="panel-body"> 
													<form class="js-search-form">
														<input class="form-control" placeholder="Enter Description" type="text" id="${val.dishes[i]._id}" name="dishDescription" required value="${val.dishes[i].dishDescription}"/>
													</form>
												</div>
												<div class="panel-footer">
													<button class="submit-dish-description btn btn-info" data-id="${val.dishes[i]._id}">Submit dish description</button>
												</div>
											</div>	
										</div>
									</div>			
								</div>
							`; 	
						}
					})
					$('.dish-result').prepend(`${resultElement}`); 
				},
				error:function(){      }
			});
		}
		
    function renderList() {
      // get a reference to the select element
      $select = $('#location');
			$select.empty();
      // request the JSON data and parse into the select element
      $.ajax({
        url: '/location/select',
        dataType:'JSON',
        success:function(data){
          // iterate over the data and append a select option
          $.each(data.locations, function(key, val){
            console.log(val);
            $select.append('<option data-id="' + val._id + '" id="' + val._id + '">' + val.locationName + '</option>');
          })
        },
        error:function(){
          //if there is an error append a 'none available' option
          $select.html('<option id="-1">none available</option>');
        }
      });
		}
		
    function filterOtherLocation(findLocation) {
      // get a reference to the select element
      $select = $('#location');
			$select.empty();
      // request the JSON data and parse into the select element
      $.ajax({
        url: `/location/Filter/${findLocation}`,
        dataType:'JSON',
        success:function(data){
					console.log(`Location: ${data.locationName}`);
					$("#location").val(`${data.locationName}`);
					if (data.locationName === "Other Location" ) {
						console.log("Change location");
						$('#createLocationModal .modal-header button').hide();
						$('#createLocationModal .modal-footer button').hide();
						$("#createLocationModal").find("#submit-new-location").toggleClass('submit-new-location attach-new-location'); 
						$("#createLocationModal").attr("data-backdrop","static").attr("data-keyboard","false");
						$('#createLocationModal').modal('toggle');
						$("#alert-location").prepend(`<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							<p>You selected "Other Location" when you signed-up.</p><p>Please create a new location. This will become your default location. You will be able to create the menu associated with this location, and assign dishes to that menu.</p>`).toggle();
					};
        },
        error:function(){
          //if there is an error append a 'none available' option
          $select.html('<option id="-1">none available</option>');
        }
      });
		}
					
    $( function() {
      var getUrlParameter = function getUrlParameter(sParam) {
          var sPageURL = decodeURIComponent(window.location.search.substring(1)),
              sURLVariables = sPageURL.split('&'),
              sParameterName,
              i;

          for (i = 0; i < sURLVariables.length; i++) {
              sParameterName = sURLVariables[i].split('=');

              if (sParameterName[0] === sParam) {
                  return sParameterName[1] === undefined ? true : sParameterName[1];
              }
          }
      };   
      var findUser = getUrlParameter('id');
      console.log(findUser); 

			// call function to render the page
			RenderUserData(findUser);

			// Re-render page when location is changed
			$('body').on('change','#location',function (event) {
				console.log($(this).val());
				clearAlerts();
				$.ajax({
					url: `/location/Name/${$(this).val()}`,
					dataType:'JSON',
					success:function(data){
						console.log(`Location: ${data._id}`);
						renderList();
						renderLocationData(data._id);
					},
					error:function(){      }
				});
			});			

			$('body').on('click','.edit-dish-button',function (event) {
					event.preventDefault(); // do not submit yet
					var idToPass = $(this).data('id');
					$(this).toggle();
					$(this).siblings(".edit-dish-input").toggle();
			});			
			
			// Edit Dish description
			$('body').on('click', '.submit-dish-description', function(event){
				event.preventDefault();
				var dishToPass = $(this).data('id');
				console.log("Dish ID: ",dishToPass);
				var descriptionToPass = $(`#${dishToPass}`).val();          
				console.log("Dish description: ", descriptionToPass);
				$.ajax({
					url: `/dish/${dishToPass}`,
					type: 'PUT',
					data: {
						id: dishToPass,
						dishDescription: descriptionToPass
					},
					success:function(data){
						console.log(data);
					}
				})
				renderLocationData($('#location>option:selected').data('id'));
			});

			// Create New Dish
			$('body').on('click', '.submit-new-dish', function(event){
				event.preventDefault();
				var descriptionToPass = $('#newDishDescription').val();          
				console.log("Dish description: ", descriptionToPass);
				var nameToPass = $('#newDishName').val(); 
				console.log("Dish ID: ",nameToPass);
				$.ajax({
					url: `/dish`,
					type: 'POST',
					data: {
						dishName: nameToPass,
						dishDescription: descriptionToPass
					},
					success:function(data){
						console.log(data);
					}
				})
				$('#createDishModal').modal('toggle');
			});

			// Create New Location
			
			function newLocation() {
				event.preventDefault();
				var nameToPass = $('#newLocationName').val(); 
				console.log("Location Name: ",nameToPass);
				var street = $('#street').val();
				var building = $('#building').val();
				var city = $('#city').val();
				var state = $('#state').val();
				var zipcode = $('#zipcode').val();
				$.ajax({
					url: `/location`,
					type: 'POST',
					data: {
      			locationName: nameToPass,
						street: street,
						building: building,
						city: city,
						state: state,
						zipcode: zipcode
					},
					success:function(data){
						console.log(data);
					}
				})				
			}

			$('body').on('click', '.submit-new-location', function(event){
				event.preventDefault();
				// alert(findUser);
				newLocation();
				$('#createLocationModal').modal('toggle');
				RenderUserData(findUser);
				// alert("New Location");
				$("#new-item-alert").prepend(`<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<p>The location has been successfully added, you can select it in the drop-down above.</p>`).toggle();
			});

			// Attach New Location

			function attachLocation(locationIdToPass) {		
				// user id
				console.log("User to attach location to: ", findUser);
				// Attach new location to user        
				console.log("New location to attach: ", locationIdToPass);
				$.ajax({
					url: `/${findUser}`,
					type: 'PUT',
					data: {
						id: findUser,
						location_id: locationIdToPass
					},
					success:function(data){
						console.log(data);
						// RenderUserData(findUser);
						renderList();
						renderLocationData(locationIdToPass);
					}
				})
			}

			$('body').on('click', '.attach-new-location', function(event){
				//alert("attach location");
				event.preventDefault();
				var nameToPass = $('#newLocationName').val(); 
				console.log("Location Name: ",nameToPass);
				var street = $('#street').val();
				var building = $('#building').val();
				var city = $('#city').val();
				var state = $('#state').val();
				var zipcode = $('#zipcode').val();
				$.ajax({
					url: `/location`,
					type: 'POST',
					data: {
      			locationName: nameToPass,
						street: street,
						building: building,
						city: city,
						state: state,
						zipcode: zipcode
					},
					success:function(data){
						console.log(data.id);
						attachLocation(data.id);
					}
				})	
				// Render page
				$('#createLocationModal').modal('toggle');
				$('#createLocationModal .modal-header button').show();
				$('#createLocationModal .modal-footer button').show();
				$("#createLocationModal").find("#submit-new-location").toggleClass('attach-new-location submit-new-location ');
				$("#alert-location").empty();
				$("#alert-location").toggle();
				$("#createLocationModal").attr("data-backdrop","true").attr("data-keyboard","true");
				clearAlerts();
			});

			// Create new menu entry
			$('body').on('click', '#openMenuModal', function(event){
				event.preventDefault();

				$('#createMenuModal').modal('toggle')
				if ($('#no-menu').css('visibility','visible')) {$('#no-menu').toggle();};
				$( "#menuLocation" ).autocomplete({
					source: function( request, response ) {
						$.ajax( {
							url: "/location/search",
							data: {
								location: request.term
							},
							success: function( data ) {
								response($.map(data, function (el) {
									console.log(el.locationName," - ",el._id)
									return {
											label: el.locationName,
											value: el._id
									};
									}));
								}
						});
					},
					minLength: 3,
					focus: function (event, ui) { 
						this.value = ui.item.label; 
						console.log("location field id: ", this.value);
						event.preventDefault();
					},
					select: function (event, ui) {
						console.log( "Selected: " + ui.item.value + " aka " + ui.item.label );
						// Prevent value from being put in the input:
						$(this).data('id',ui.item.value);
						this.value = ui.item.label;
						// Prevent other event from being executed
						event.preventDefault();
					}
				} );
				
				// get a reference to the select element
				$select = $('#menuDishes');
				// request the JSON data and parse into the select element
				$.ajax({
					url: '/dish',
					dataType:'JSON',
					success:function(data){
						//$select.html('');
						// iterate over the data and append a select option
						$.each(data, function(key, val){
							console.log(val);
							$select.append('<option data-id="' + val._id + '" id="' + val._id + '">' + val.dishName + '</option>');
						})
					},
					error:function(){
						//if there is an error append a 'none available' option
						$select.html('<option id="-1">none available</option>');
					}
				});

				$('body').on('click', '.submit-new-menu', function(event){
            event.preventDefault();
            var locationToPass = $('#menuLocation').data('id');          
            console.log("location ID: ", locationToPass);
            // var dishToPass = $('#menuDishes>option:selected').data('id');
						var dishToPass = [];
						$('#menuDishes>option:selected').each(function() {
							if ($(this).data('id') != null) dishToPass.push($(this).data('id'));
						})
            //var dishToPass = $('#menuDishes').serialize();
            console.log("Dish ID: ",dishToPass);
						$.ajax({
							url: '/menu',
							type: 'POST',
							data: {
								dishes: dishToPass,
								location: locationToPass
							},
							success:function(data){
								console.log(data);
							}
						})
					$('#createMenuModal').modal('toggle');
					clearAlerts();
					renderLocationData(locationToPass);
				});


			});

			$('[data-toggle="tooltip"]').tooltip()

    } ); 
    </script>
  </head>

  <body>
    <main>
      <div class="container">
				<div class="panel panel-default">
					<div class="panel-heading" id="welcome">
					</div>
    			<div class="panel-body">      
						<div class="alert alert-success" id="new-item-alert">
						</div>    
						<div class="alert alert-warning" id="no-menu">
						</div>
						<header class="location-name"></header>

						<div class="dish-result-container">
							<div class="dish-result row">	
							</div>
						</div>
						<div class='error'></div>
					</div>
					<div class="panel-footer">
              <div class="form-group">
                <a href="#" data-toggle="modal" data-target="#createDishModal">Add Dishes</a> | 
								<a href="#" data-toggle="modal" data-target="#createLocationModal">Add Locations</a> | 
								<a href="#" id="openMenuModal" data-toggle="tooltip" data-placement="top" title="You can add dishes to an existing menu, or create a menu for a new location">Add Dishes to Menu</a>
              </div>
					</div>
				</div>
      </div>
    </main>

		<!-- Modal - Create New Dish -->
		<div class="modal fade" id="createDishModal" tabindex="-1" role="dialog" aria-labelledby="createDishModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- Modal Header -->
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span>
							<span class="sr-only">Close</span>
						</button>
						<h1 class="modal-title" id="createDishModalLabel"><span class="fa fa-pencil-square-o"></span> Create a new dish</h1>
					</div>
					<!-- Modal Body -->
					<div class="modal-body">
						<form class="form-horizontal" role="form" action="/dish" method="post">
							<div class="form-group">
								<label  class="col-sm-2 control-label" for="newDishName">Dish Name</label>
								<div class="col-sm-10">
									<input class="form-control" placeholder="Dish Name" type="text" name="newDishName" id="newDishName" required/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="newDishDescription" >Dish Content - Description</label>
								<div class="col-sm-10">
									<input class="form-control" placeholder="Dish Description" type="text" name="newDishDescription" id="newDishDescription" required/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<button type="submit" class="submit-new-dish btn btn-warning">Create New Dish</button>
								</div>
							</div>
						</form>
					</div>
					<!-- Modal Footer -->
					<div class="modal-footer">
						<button type="button" class="btn btn-default"	data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal - Create New Location -->
		<div class="modal fade" id="createLocationModal" tabindex="-1" role="dialog" aria-labelledby="createLocationModal" aria-hidden="true" data-backdrop="true" data-keyboard="true">
			<div class="modal-dialog">
				<div class="modal-content">    
					<div class="alert alert-warning" id="alert-location">
					</div>
					<!-- Modal Header -->
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span>
							<span class="sr-only">Close</span>
						</button>
						<h1 class="modal-title" id="createLocationModalLabel"><span class="fa fa-pencil-square-o"></span> Create a new Location</h1>
					</div>
					<!-- Modal Body -->
					<div class="modal-body">
						<form class="form-horizontal" role="form" action="/location" method="post">
							<div class="form-group">
								<label  class="col-sm-2 control-label" for="newLocationName">Location Name</label>
								<div class="col-sm-10">
									<input class="form-control" placeholder="Location Name" type="text" name="newLocationName" id="newLocationName" required/>
								</div>
							</div>
							<!-- address-line input-->
							<div class="form-group">
								<label class="col-sm-2 control-label" for="street" required>Address Line 1</label>
								<div class="col-sm-10">
									<input class="form-control" placeholder="Address line 1" type="text" name="street" id="street" required/>
									<p class="help-block">Street address, P.O. box, company name, c/o</p>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="building">Address Line 2</label>
								<div class="col-sm-10">
									<input class="form-control" placeholder="Address line 2" type="text" name="building" id="building" />
									<p class="help-block">Apartment, suite , unit, building, floor, etc.</p>
								</div>
							</div>
							<!-- city input-->
							<div class="form-group">
								<label class="col-sm-2 control-label" for="city" required>City / Town</label>
								<div class="col-sm-10">
									<input class="form-control" placeholder="City" type="text" name="city" id="city" required/>
									<p class="help-block"></p>
								</div>
							</div>
							<!-- State input-->
							<div class="form-group">
								<label class="col-sm-2 control-label" for="state" required>State / Province / Region</label>
								<div class="col-sm-10">
									<select class="form-control" name="state" id="state" >
										<option value="">-- Please Select --</option>
										<option value="al">Alabama (AL)</option>
										<option value="ak">Alaska (AK)</option>
										<option value="az">Arizona (AZ)</option>
										<option value="ar">Arkansas (AR)</option>
										<option value="ca">California (CA)</option>
										<option value="co">Colorado (CO)</option>
										<option value="ct">Connecticut (CT)</option>
										<option value="de">Delaware (DE)</option>
										<option value="dc">District of Columbia (DC)</option>
										<option value="fl">Florida (FL)</option>
										<option value="ga">Georgia (GA)</option>
										<option value="hi">Hawaii (HI)</option>
										<option value="id">Idaho (ID)</option>
										<option value="il">Illinois (IL)</option>
										<option value="in">Indiana (IN)</option>
										<option value="ia">Iowa (IA)</option>
										<option value="ks">Kansas (KS)</option>
										<option value="ky">Kentucky (KY)</option>
										<option value="la">Louisiana (LA)</option>
										<option value="me">Maine (ME)</option>
										<option value="md">Maryland (MD)</option>
										<option value="ma">Massachusetts (MA)</option>
										<option value="mi">Michigan (MI)</option>
										<option value="mn">Minnesota (MN)</option>
										<option value="ms">Mississippi (MS)</option>
										<option value="mo">Missouri (MO)</option>
										<option value="mt">Montana (MT)</option>
										<option value="ne">Nebraska (NE)</option>
										<option value="nv">Nevada (NV)</option>
										<option value="nh">New Hampshire (NH)</option>
										<option value="nj">New Jersey (NJ)</option>
										<option value="nm">New Mexico (NM)</option>
										<option value="ny">New York (NY)</option>
										<option value="nc">North Carolina (NC)</option>
										<option value="nd">North Dakota (ND)</option>
										<option value="oh">Ohio (OH)</option>
										<option value="ok">Oklahoma (OK)</option>
										<option value="or">Oregon (OR)</option>
										<option value="pa">Pennsylvania (PA)</option>
										<option value="ri">Rhode Island (RI)</option>
										<option value="sc">South Carolina (SC)</option>
										<option value="sd">South Dakota (SD)</option>
										<option value="tn">Tennessee (TN)</option>
										<option value="tx">Texas (TX)</option>
										<option value="ut">Utah (UT)</option>
										<option value="vt">Vermont (VT)</option>
										<option value="va">Virginia (VA)</option>
										<option value="wa">Washington (WA)</option>
										<option value="wv">West Virginia (WV)</option>
										<option value="wi">Wisconsin (WI)</option>
										<option value="wy">Wyoming (WY)</option>
									</select>          
									<p class="help-block"></p>
								</div>
							</div>
							<!-- zip-code input-->
							<div class="form-group">
								<label class="col-sm-2 control-label" for="zipcode" required>zip code</label>
								<div class="col-sm-10">
									<input class="form-control" placeholder="Zip Code" pattern="[0-9]{5}" type="text" name="zipcode" id="zipcode" required/>
									<p class="help-block">Enter the 5-digit Zip Code (For ex. 18104)</p>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<button type="submit" class="submit-new-location btn btn-warning" id="submit-new-location">Create New Location</button>
								</div>
							</div>
						</form>
					</div>
					<!-- Modal Footer -->
					<div class="modal-footer">
						<button type="button" class="btn btn-default"	data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal - Add dishes to Menu -->
		<div class="modal fade" id="createMenuModal" tabindex="-1" role="dialog" aria-labelledby="createMenuModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<!-- Modal Header -->
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span>
							<span class="sr-only">Close</span>
						</button>
						<h1 class="modal-title" id="createMenuModalLabel"><span class="fa fa-pencil-square-o"></span> Add dishes to a location menu</h1>
					</div>
					<!-- Modal Body -->
					<div class="modal-body">
						<form class="form-horizontal" role="form" action="/menu" method="post">
              <div class="form-group">
                <label class="col-sm-2 control-label" for="menuLocation" required>Select Location</label>
								<div class="col-sm-10 ui-front">
                	<input class="form-control" placeholder="Enter the location" type="text" data-id="" name="menuLocation" id="menuLocation" required/>
									<p class="help-block">Type the location you are looking for, the auto-complete will bring the appropriate suggestions.</p>
								</div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="menuDishes" required>Dish Name</label>
								<div class="col-sm-10">
									<select class="form-control" placeholder="Dish Name" type="text" name="menuDishes" id="menuDishes" multiple="multiple" required/>
										<option disabled value="base">Please Select</option>
									</select>
								</div>
              </div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<button type="submit" class="submit-new-menu btn btn-warning">Create New Menu Entry</button>
								</div>
							</div>
						</form>
					</div>
					<!-- Modal Footer -->
					<div class="modal-footer">
						<button type="button" class="btn btn-default"	data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal - Attach New Location -->
		<div class="modal fade" id="attachLocationModal" tabindex="-1" role="dialog" aria-labelledby="attachLocationModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
			<div class="modal-dialog">
				<div class="modal-content">    
					<div class="alert alert-warning">
					</div>
					<!-- Modal Header -->
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span>
							<span class="sr-only">Close</span>
						</button>
						<h1 class="modal-title" id="attachLocationModalLabel"><span class="fa fa-pencil-square-o"></span> Create a new Location</h1>
					</div>
					<!-- Modal Body -->
					<div class="modal-body">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label  class="col-sm-2 control-label" for="attachLocationName">Location Name</label>
								<div class="col-sm-10">
									<input class="form-control" placeholder="Location Name" type="text" name="attachLocationName" id="attachLocationName" required/>
								</div>
							</div>
							<!-- address-line input-->
							<div class="form-group">
								<label class="col-sm-2 control-label" for="attachStreet" required>Address Line 1</label>
								<div class="col-sm-10">
									<input class="form-control" placeholder="Address line 1" type="text" name="attachStreet" id="attachStreet" required/>
									<p class="help-block">Street address, P.O. box, company name, c/o</p>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="attachBuilding">Address Line 2</label>
								<div class="col-sm-10">
									<input class="form-control" placeholder="Address line 2" type="text" name="attachBuilding" id="attachBuilding" />
									<p class="help-block">Apartment, suite , unit, building, floor, etc.</p>
								</div>
							</div>
							<!-- city input-->
							<div class="form-group">
								<label class="col-sm-2 control-label" for="attachCity" required>City / Town</label>
								<div class="col-sm-10">
									<input class="form-control" placeholder="City" type="text" name="attachCity" id="attachCity" required/>
									<p class="help-block"></p>
								</div>
							</div>
							<!-- State input-->
							<div class="form-group">
								<label class="col-sm-2 control-label" for="attachState" required>State / Province / Region</label>
								<div class="col-sm-10">
									<select class="form-control" name="attachState" id="attachState" >
										<option value="">-- Please Select --</option>
										<option value="al">Alabama (AL)</option>
										<option value="ak">Alaska (AK)</option>
										<option value="az">Arizona (AZ)</option>
										<option value="ar">Arkansas (AR)</option>
										<option value="ca">California (CA)</option>
										<option value="co">Colorado (CO)</option>
										<option value="ct">Connecticut (CT)</option>
										<option value="de">Delaware (DE)</option>
										<option value="dc">District of Columbia (DC)</option>
										<option value="fl">Florida (FL)</option>
										<option value="ga">Georgia (GA)</option>
										<option value="hi">Hawaii (HI)</option>
										<option value="id">Idaho (ID)</option>
										<option value="il">Illinois (IL)</option>
										<option value="in">Indiana (IN)</option>
										<option value="ia">Iowa (IA)</option>
										<option value="ks">Kansas (KS)</option>
										<option value="ky">Kentucky (KY)</option>
										<option value="la">Louisiana (LA)</option>
										<option value="me">Maine (ME)</option>
										<option value="md">Maryland (MD)</option>
										<option value="ma">Massachusetts (MA)</option>
										<option value="mi">Michigan (MI)</option>
										<option value="mn">Minnesota (MN)</option>
										<option value="ms">Mississippi (MS)</option>
										<option value="mo">Missouri (MO)</option>
										<option value="mt">Montana (MT)</option>
										<option value="ne">Nebraska (NE)</option>
										<option value="nv">Nevada (NV)</option>
										<option value="nh">New Hampshire (NH)</option>
										<option value="nj">New Jersey (NJ)</option>
										<option value="nm">New Mexico (NM)</option>
										<option value="ny">New York (NY)</option>
										<option value="nc">North Carolina (NC)</option>
										<option value="nd">North Dakota (ND)</option>
										<option value="oh">Ohio (OH)</option>
										<option value="ok">Oklahoma (OK)</option>
										<option value="or">Oregon (OR)</option>
										<option value="pa">Pennsylvania (PA)</option>
										<option value="ri">Rhode Island (RI)</option>
										<option value="sc">South Carolina (SC)</option>
										<option value="sd">South Dakota (SD)</option>
										<option value="tn">Tennessee (TN)</option>
										<option value="tx">Texas (TX)</option>
										<option value="ut">Utah (UT)</option>
										<option value="vt">Vermont (VT)</option>
										<option value="va">Virginia (VA)</option>
										<option value="wa">Washington (WA)</option>
										<option value="wv">West Virginia (WV)</option>
										<option value="wi">Wisconsin (WI)</option>
										<option value="wy">Wyoming (WY)</option>
									</select>          
									<p class="help-block"></p>
								</div>
							</div>
							<!-- zip-code input-->
							<div class="form-group">
								<label class="col-sm-2 control-label" for="attachZipcode" required>zip code</label>
								<div class="col-sm-10">
									<input class="form-control" placeholder="Zip Code" pattern="[0-9]{5}" type="text" name="attachZipcode" id="attachZipcode" required/>
									<p class="help-block">Enter the 5-digit Zip Code (For ex. 18104)</p>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<button type="submit" class="attach-new-location btn btn-warning" id="attach-new-location">Attach New Location</button>
								</div>
							</div>
						</form>
					</div>
					<!-- Modal Footer -->
					<div class="modal-footer">
						<button type="button" class="btn btn-default"	data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
              

  </body>
</html>