<!doctype html>
<html>
<head>
	<title>Menu Finder</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container jumbotron">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h1>Welcome to the Menu Finder</h1>
		</div>
		<div class="panel-body"> 
			<p>The menu Finder is a simple interface that enables users to:</p>
				<ul>
					<li>Find menus at specific locations,</li>
					<li>Add new dishes to the database,</li>
					<li>Create menus, selecting among the existing dishes, for specific locations,</li>
					<li>Create new locations.</li>
				</ul>
			<p>It is built using Node.js, Express and MongoDB.</p>
		</div>
		<div class="panel-footer">
			<h3>You can create a new profile and register as a new user, or login using an existing profile, via the buttons below.</h3>
		</div>
	</div>
	<div class="jumbotron text-center">
		<h1><span class="fa fa-lock"></span> Sign-Up</h1>
		<p>Login or Register with:</p>
		<a href="/login" class="btn btn-warning btn-lg"><span class="fa fa-user"></span> Login</a>
		<a href="/register" class="btn btn-warning btn-lg"><span class="fa fa-user"></span> Register</a>
	</div>
</div>
</body>
</html>